html, body{
    height: 100%;
    width: 100%; 
    background : #f9fafc;
    font-family: 'Poppins';  
}

.btn-primary{
    background-color: #f4356f;
    border: #f4356f;
}

.navbar{
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand{
    padding-left: 2em;
}

.navbar-default  .navbar-nav li a {
    color: #D5D5D5;
}

.nav-item:hover{
        color: #ff565c;
    font-weight: bold;
}

.navbar-default  .navbar-nav li a:hover, .navbar-default  .navbar-nav li a:active  {
    color: #f4356f;
}

#home{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    display:table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    color: #ffffff;
}

#home2{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),url('https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: cover;
    display: table;
    width: 100%;
    background-size: cover;
    padding: 10em 30em;
}

input::placeholder{
    color: #ffffff!important;
    opacity: 1;
}

#exceptInput::placeholder{
    color: black!important;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
    margin: auto 100px;
}

.padding {
    padding: 80px 0;
}

.nav-item {
    padding: 0 20px;
}

.footer-top{
    padding: 80px 0;
}

.footer-top a{
    text-transform: uppercase;
    text-decoration: none!important;
    color: white;
}

.footer-top h3{
    font-size:20px;
}

.footer-top h3:hover, .footer-top a:hover{
    font-weight: bolder;
    color: #f4356f;
}

.footer-top .brandd{
    color: gray;
}

.social{
    display: flex;
    justify-content: space-around;
}