/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  /* Global */
* {
    margin: 0px;
    padding: 0px;
}
  
  .btn {
    background: #ff565c;
    color: #ffffff;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
    transition: transform 0.7s, border-radius 0.7s;
  }

  .btn:hover{
    background-color: blue;
    transform: scale(1.1);
    border-radius: 10px;
  }
  
body {
    background : #f9fafc;
    font-family: 'Poppins';
}

ul {
    margin: 0px;
    padding: 0px;
}

button{
    transition: transform 0.7s, border-radius 0.5s;
}

button:hover {
    background-color: blue!important;
    transform: scale(1.1);
    border-radius: 20px;
}

.container{
    width: 95%;
    margin: auto;
}

.active{
    font-weight: bold;
    color: #ff565c;
}

/* Header */
header{
    width: 100%;
    height: 60px;
    background: #ffffff;
    padding-top:20px;
    min-height: 60px;
    border-bottom: lightgray 1px solid;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color : #52528e;
}

header a:hover {
    color: #ff565c;
    font-weight: bold;
}

header li{
    float: left;
    display: inline;
    padding: 5px 20px 0px 20px;
    transition: transform 0.5s;
}

header li:hover{
    transform: scale(1.2);
}

header #logo{
    float: left;
}

header #logo h1{
    margin: 0px;
}

header nav{
    float:left;
    margin-top: 5px;
    padding-left: 60px;
}

/* Three Bars Menu */
.bars {
    display: inline-block;
    cursor: pointer;
    float: right;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

    .cont{
        width: 95%;
    }

  .wrapper {
    display: grid;
    width: 100%;
    margin: 20px  0px 20px 50px;
    line-height: 1.4;
  }
  
  /* Top Container */
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'showcase showcase showcase top-box-a'
      'showcase showcase showcase top-box-b'
      'top-box-c top-box-d top-box-d top-box-b'
      'top-box-c top-box-e top-box-f top-box-g';
  }
  
  /* Showcase */
  .showcase {
    grid-area: showcase;
    min-height: 700px;
    background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .showcase h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 50px;
    color: var(--light);
    text-transform: uppercase; 
  }
  
  .showcase p {
    font-size: 1.3rem;
    margin-top: 20px;
    color: var(--light);
  }
  
  #icons{
    color: #ffffff;
  }

  /* Top Box */
  .top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
  
  }
  
  .top-box-a {
    grid-area: top-box-a;
    padding: 1.5rem;
  }
  
  .top-box-b {
    grid-area: top-box-b;
    color: #ffffff;
    background: #ff565c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3rem;
  }

  .top-box-b .btn{
    border: 1px solid #ffffff;
  }

  .top-box-c {
    grid-area: top-box-c;
  }

  .top-box-d {
    grid-area: top-box-d;
  }

  .top-box-e {
    grid-area: top-box-e;
  }

  .top-box-f {
    grid-area: top-box-f;
  }

  .top-box-g {
    grid-area: top-box-g;
  }


/* Footer */
footer{
    background-color: black;
    height: 80px;
    padding: 3em 0em 2em 0em;
}

footer a{
    text-decoration: none!important; 
    text-transform: uppercase;
    color: #ffffff;
}

footer a:hover{
    color: #ff565c;
    transition: 0.5s;
}

.footerWrap{
    display: grid;
    grid-gap: 2em;
    grid-auto-rows: minmax(20px, auto);
   /* grid-template-columns: 4fr 1fr; */
   grid-template-columns: repeat(8, 1fr);
}

.footerWrap > div{
    background: #eee;
    padding: 1em;
}

.col {
    float: left;
    padding-right: 13em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.col li {
    padding: 7px;
}

.last {
    float: right;
}

.last a {
    text-decoration: none;
    color: #ffffff;
}

.last li{
    float: right;
    display: block;
    padding: 0em 0em 1em 1em;
}
.inputbtn{
    display: block;
}

#inputSubs{
    width: 160px;
    height: 3em;
    float: right;
    border: none;
    padding: 10px;
    box-sizing: border-box;  
}

#btnSubs{
    width: 110px;
    height: 3em;
    float: right;
    background: #ff565c;
    color: white;
    border: 1px solid #ff565c;
}
  
  /* Media Queries */
  @media screen and (max-width: 1100px) {
    header {
        position: relative;
    }

    header a {
        display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    .top-container {
      grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-g'
        'top-box-b top-box-c'
        'top-box-e top-box-f'
        'top-box-d top-box-d';
    }
  
    .showcase h1 {
      font-size: 2.5rem;
    }

    header {
        position: relative;
    }

    header a {
        display: none;
    }
  }

  @media(max-width: 500px) {
    .top-container {
      grid-template-areas: 
      'showcase'
      'top-box-a'
      'top-box-b'
      'top-box-c'
      'top-box-d'
      'top-box-e'
      'top-box-f'
      'top-box-g';
    }

    .btn{
      margin: auto;
      display: block;
      text-align: center;
    }
  }

  
  
  